.videoPost {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  margin-bottom: 40px;
  width: 250px;
}

.videoPostInfo {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}

.videoPostAvatar {
  height: 30px;
  width: 30px;
}

.videoPostThumbnail {
  height: 150px;
  width: 250px;
}

.videoPostText {
  margin-left: 15px;
}

.videoPostText > p {
  font-size: 10px;
  color: rgb(110, 109, 109);
}
