.recommendedVideos {
  background-color: white;
  border: 2px solid red;
  padding: 40px 20px;
  margin: 20px;
  text-align: center;
}

.recommendedVideos > p {
  font-weight: bold;
  margin-top: 0;
  padding: 0;
}
.recommendedVideosList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.noSearch {
  color: red;
  text-align: center;
}
@media screen and (max-width: 1149px) {
  .recommendedVideosList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
