.video {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  margin: 40px;
}
.videoWrapper {
  grid-area: 1 / 1 / 2 / 2;
}

.relatedVids {
  border: 2px solid red;
  grid-area: 1 / 2 / 2 / 3;
  margin: 20px;
}
.relatedVids > p {
  margin-top: 5px;
  text-align: center;
  text-decoration: underline;
}
